* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: DM Sans;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  border: 1px solid red;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1200px;
  z-index: 10;
  border: 1px solid red;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  color: #fff;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.ul li {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 155%;
  text-align: left;
}

.baner {
  max-width: 1440px;
  position: relative;
  height: 790px;
  margin: 0 auto;
  background-image: url("../images/baner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.baner-content {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 13px 7.5px;
  top: 32%;
  left: 48.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.text-box {
  width: 973px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.text-box h1 {
  width: 986px;
  font-size: 56px;
  line-height: 73px;
}
.text-box p {
  width: 867px;
  font-size: 16px;
  line-height: 155%;
}

.btn {
  position: absolute;
  top: 47%;
  left: 44%;
  max-width: 175px;
  background: rgb(79, 136, 217);
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  padding: 16px 30px 16px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.stats {
  position: absolute;
  bottom: -70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  padding: 40px 60px;
  border-radius: 12px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.stat-item {
  text-align: center;
}

.stat-item h3 {
  font-size: 32px;
  color: #000;
}

.stat-item p {
  color: #3b82f6;
}