.footer {
  width: 100%;
  max-width: 1440px;
  background: rgb(211, 229, 254);
  margin: 0 auto;
  padding: 60px 148px 80px;
}
@media (max-width: 1024px) {
  .footer {
    padding: 50px 100px 60px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 50px 40px 60px;
  }
}
@media (max-width: 360px) {
  .footer {
    padding: 40px 20px 50px;
  }
}

.container {
  width: 100%;
  max-width: 1144px;
  margin: 0 auto;
}

.footer-content {
  width: 100%;
  display: flex;
  gap: 92px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .footer-content {
    gap: 40px;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .footer-content {
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 40px;
  }
}

.social-media {
  width: 360px;
  box-sizing: border-box;
  flex: 1 1 auto;
  min-width: 200px;
}
@media (max-width: 1024px) {
  .social-media {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .social-media {
    width: 100%;
  }
}
.social-media h3 {
  font-size: 30px;
  line-height: 39px;
  color: rgb(34, 34, 34);
  margin-bottom: 24px;
}
.social-media a {
  color: rgb(85, 85, 85);
  font-size: 16px;
  line-height: 155%;
  display: block;
  text-decoration: none;
  margin-bottom: 32px;
}
.social-media a:hover {
  color: blue;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(4, 48px);
  gap: 16px;
}
@media (max-width: 768px) {
  .img-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
}
.img-grid img {
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.Links {
  width: 190px;
  box-sizing: border-box;
  flex: 1 1 auto;
  min-width: 200px;
}
@media (max-width: 1024px) {
  .Links {
    width: 160px;
  }
}
@media (max-width: 768px) {
  .Links {
    width: 100%;
  }
}
.Links h3 {
  font-size: 30px;
  line-height: 39px;
  color: rgb(34, 34, 34);
  margin-bottom: 24px;
}
.Links a {
  display: block;
  text-decoration: none;
  color: rgb(85, 85, 85);
  font-size: 16px;
  line-height: 155%;
  margin-bottom: 16px;
}
.Links a:hover {
  color: blue;
}
.Links a-links-svg {
  right: 8px;
  left: 0;
  top: 55%;
  right: 8px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.Support {
  width: 116px;
  box-sizing: border-box;
  flex: 1 1 auto;
  min-width: 200px;
}
@media (max-width: 1024px) {
  .Support {
    width: 140px;
  }
}
@media (max-width: 768px) {
  .Support {
    width: 100%;
  }
}
.Support h3 {
  font-size: 30px;
  line-height: 39px;
  color: rgb(34, 34, 34);
  margin-bottom: 24px;
}
.Support a {
  display: block;
  text-decoration: none;
  margin-bottom: 16px;
  color: rgb(85, 85, 85);
  font-size: 16px;
  line-height: 155%;
}
.Support a:hover {
  color: blue;
}
.Support a-links-svg {
  right: 8px;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.Contact-Us {
  width: 203px;
  box-sizing: border-box;
  flex: 1 1 auto;
  min-width: 200px;
}
@media (max-width: 1024px) {
  .Contact-Us {
    width: 180px;
  }
}
@media (max-width: 768px) {
  .Contact-Us {
    width: 100%;
  }
}
.Contact-Us h3 {
  font-size: 30px;
  line-height: 39px;
  color: rgb(34, 34, 34);
  margin-bottom: 24px;
}
.Contact-Us a {
  color: rgb(85, 85, 85);
  font-size: 16px;
  line-height: 155%;
  display: block;
  text-decoration: none;
  margin-bottom: 16px;
}
.Contact-Us a:hover {
  color: blue;
}
.Contact-Us a-links-svg {
  right: 8px;
  left: 0;
  top: 55%;
  right: 8px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}