.header {
  position: absolute;
  top: 0;
  max-width: 1152px;
  width: 100%;
  z-index: 10;
  border: 1px solid red;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: #fff;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
}

.nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.ul li {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 155%;
  text-align: left;
}
.ul li .img {
  width: 20px;
  height: 20px;
  margin: 2px 0;
}