.header {
  position: absolute;
  top: 0;
  max-width: 1152px;
  width: 100%;
  z-index: 10;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: #fff;
}
@media (max-width: 1024px) {
  .header-inner {
    margin: 0px 40px;
  }
}
@media (max-width: 768pxpx) {
  .header-inner {
    margin: 0px 20px;
  }
}

.logo {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
}

.links {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 1200px) {
  .links {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .links {
    display: none;
  }
}

.link-a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 8px;
  background-image: url("../images/info/icon.svg");
  display: inline-block;
  padding-right: 20px;
  background-position: right center;
  background-repeat: no-repeat;
  transition: color 0.3s ease, background-image 0.3s ease;
}
.link-a:hover {
  color: blue;
  background-image: url("../images/info/icon-blue.svg");
}