.header {
  position: absolute;
  top: 0;
  max-width: 1152px;
  width: 100%;
  z-index: 10;
}
@media (max-width: 360px) {
  .header {
    position: relative;
    top: auto;
    margin-bottom: 20px;
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: #fff;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .header-inner {
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  .header-inner {
    align-items: center;
    justify-content: space-between;
    gap: 0;
    height: auto;
    padding: 0 20px;
    background: rgb(255, 255, 255);
  }
}

.logo {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
}
@media (max-width: 768px) {
  .logo {
    color: rgb(34, 34, 34);
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 17.66px;
  height: 14px;
  cursor: pointer;
}
.burger span {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 21px;
  background: rgb(241, 85, 37);
}
@media (max-width: 768px) {
  .burger {
    display: flex;
  }
}

.links {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 1024px) {
  .links {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .links {
    gap: 12px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    display: none;
  }
}
@media (max-width: 360px) {
  .links {
    gap: 8px;
  }
}
.links .active {
  display: flex;
}

.link-a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 8px;
  background-image: url("../images/icon/icon.svg");
  display: inline-block;
  padding-right: 20px;
  background-position: right center;
  background-repeat: no-repeat;
  transition: color 0.3s ease, background-image 0.3s ease;
}
.link-a:hover {
  color: blue;
  background-image: url("../images/icon/icon-blue.svg");
}