.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  color: #fff;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav a {
  color: #fff;
  text-decoration: none;
}