.baner {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .baner {
    height: 500px;
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .baner {
    height: auto;
    padding: 70px 20px;
    background: rgb(236, 244, 255);
  }
}

.image {
  height: 790px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url("../images/home/baner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .image {
    display: none;
  }
}

.baner-content {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 13px 7.5px;
  top: 32%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.text-box {
  width: 973px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.text-box h1 {
  width: 986px;
  font-size: 56px;
  line-height: 73px;
}
.text-box p {
  width: 867px;
  font-size: 16px;
  line-height: 155%;
}

.btn {
  position: absolute;
  top: 47%;
  left: 44%;
  max-width: 175px;
  background: rgb(79, 136, 217);
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  padding: 16px 30px 16px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.hero {
  background: rgb(255, 255, 255);
  width: 100%;
  padding-bottom: 128px;
}
@media (max-width: 1200px) {
  .hero {
    height: 500px;
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 70px 20px;
  }
}

.stats {
  width: 1152px;
  position: absolute;
  margin: -43px auto 0;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  padding: 56px 139px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 5;
}

.stats-box {
  max-width: 229px;
  display: flex;
  gap: 24px;
  padding: 0;
}

.img {
  width: 72px;
  height: 72px;
  margin: 4px 0;
}

.stat-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.stat-item h3 {
  font-size: 36px;
  line-height: 47px;
  color: rgb(34, 34, 34);
}
.stat-item p {
  color: rgb(8, 108, 249);
  font-size: 16px;
}
/*-----sectin2-----*/
.banner2 {
  max-width: 1152px;
  margin-top: 134px;
}

.about {
  width: 100%;
  display: flex;
  gap: 38px;
}

.about-left {
  margin: 0;
  max-width: 519px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 23px;
}

.left-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.left-top h1 {
  font-size: 48px;
  line-height: 62px;
}
.left-top p {
  font-size: 16px;
  line-height: 155%;
}

.btn2 {
  width: 149px;
  height: 56px;
  margin: 0;
  border-radius: 4px;
  background: rgb(8, 108, 249);
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  border: none;
  font-size: 16px;
  line-height: 24px;
}

.about-right {
  position: relative;
  width: 595px;
  object-fit: contain;
}
.about-right .image1 {
  height: 433px;
  background-image: url("../images/home/course.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-right img {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 40%;
  left: 43%;
}

/*-----service------*/
.service {
  width: 100%;
  text-align: center;
  margin-top: 134px;
}

.service-header {
  max-width: 520px;
  margin: 0 auto 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.service-header h1 {
  font-size: 48px;
  line-height: 62px;
  color: #222;
}
.service-header p {
  font-size: 16px;
  line-height: 155%;
  color: #555;
}

.service-grid {
  max-width: 1152px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 53px;
  padding: 0;
}

.service-card {
  width: 248px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.service-card .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.service-card .card-item img {
  width: 80px;
  height: 80px;
}
.service-card .card-item h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  color: rgb(34, 34, 34);
}
.service-card p {
  font-size: 14px;
  line-height: 155%;
  color: rgb(85, 85, 85);
}

.couese {
  width: 100%;
  background: rgb(211, 229, 254);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.couese .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 60px 0 168px 0;
}

.couese-header {
  width: 674px;
  height: 124px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.couese-header h1 {
  font-size: 48px;
  line-height: 62px;
}
.couese-header p {
  font-size: 16px;
  line-height: 155%;
  color: rgb(85, 85, 85);
}

.couese-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}

.couese-card {
  width: 370px;
  padding: 24px;
  border-radius: 6px;
  background: rgb(255, 255, 255);
}

.card-in {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.couese-baner {
  width: 100%;
}
.couese-baner img {
  max-width: 320px;
  border-radius: 6px;
  height: 250px;
}

.couese-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.couese-title p {
  font-size: 14px;
  line-height: 155%;
  color: rgb(85, 85, 85);
}

.title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.title-price h3 {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  color: rgb(51, 51, 51);
}
.title-price span {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  color: rgb(8, 108, 249);
}

.couese-btn {
  width: 182px;
  height: 56px;
  background: rgb(8, 108, 249);
  border-radius: 6px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  border: none;
  margin: auto;
  display: block;
}

/*---------*/
.event {
  padding: 128px 0;
  width: 100%;
  background: #fff;
}

.event-header {
  max-width: 520px;
  margin: 0 auto 48px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.event-header h1 {
  font-size: 48px;
  line-height: 62px;
  color: rgb(34, 34, 34);
}
.event-header p {
  font-size: 16px;
  line-height: 155%;
  color: rgb(85, 85, 85);
}

.event-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.event-card {
  max-width: 368px;
  border-radius: 6px;
  overflow: hidden;
  background: #f5f5f5;
}

.event-image {
  position: relative;
  border-radius: 6px 6px 0px 0px;
}
.event-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.event-badge {
  position: absolute;
  padding: 8px 12px;
  top: 0;
  left: 0;
  width: 65px;
  height: 62px;
  background: #4c8bf5;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}

.event-body {
  width: 319px;
  padding: 0;
  margin: 24px 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.event-body h5 {
  font-size: 20px;
  line-height: 26px;
  color: rgb(34, 34, 34);
}

.event-meta {
  width: 321px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #555;
  gap: 29px;
}
.event-meta span {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 155%;
  color: rgb(85, 85, 85);
}
.event-meta span img {
  width: 16px;
  height: 16px;
  margin: 3px 0 3px 0;
}