.baner {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .baner {
    height: 500px;
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .baner {
    height: auto;
    padding: 70px 20px;
    background: rgb(236, 244, 255);
  }
}

.image {
  height: 790px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url("../images/home/baner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .image {
    display: none;
  }
}

.baner-content {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 13px 7.5px;
  top: 32%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.text-box {
  width: 973px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.text-box h1 {
  width: 986px;
  font-size: 56px;
  line-height: 73px;
}
.text-box p {
  width: 867px;
  font-size: 16px;
  line-height: 155%;
}

.btn {
  position: absolute;
  top: 47%;
  left: 44%;
  max-width: 175px;
  background: rgb(79, 136, 217);
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  padding: 16px 30px 16px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.hero {
  background: rgb(255, 255, 255);
  width: 100%;
  padding-bottom: 128px;
}
@media (max-width: 1024px) {
  .hero {
    padding-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .hero {
    padding-bottom: 80px;
  }
}

.stats {
  width: 100%;
  max-width: 1152px;
  margin: -43px auto;
  background: rgb(255, 255, 255);
  display: flex;
  gap: 122px;
  align-items: center;
  padding: 56px 95px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 5;
}
@media (max-width: 1024px) {
  .stats {
    padding: 40px;
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .stats {
    flex-direction: column;
    gap: 24px;
    padding: 60px 77.5px;
    margin-top: 9px;
  }
}

.stats-box {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
}

.img {
  width: 72px;
  height: 72px;
  margin: 4px 0;
}

.stat-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.stat-item h3 {
  font-size: 36px;
  line-height: 47px;
  color: rgb(34, 34, 34);
}
.stat-item p {
  color: rgb(8, 108, 249);
  font-size: 16px;
}
@media (max-width: 768px) {
  .stat-item p {
    font-size: 12px;
  }
}

/*-----sectin2-----*/
.banner2 {
  max-width: 1152px;
  margin-top: 134px;
  border: 1px solid red;
}

.about {
  display: flex;
  gap: 38px;
}

.about-left {
  margin: 0;
  max-width: 519px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 23px;
}

.left-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.left-top h1 {
  font-size: 48px;
  line-height: 62px;
}
.left-top p {
  font-size: 16px;
  line-height: 155%;
}

.btn2 {
  width: 149px;
  height: 56px;
  margin: 0;
  border-radius: 4px;
  background: rgb(8, 108, 249);
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  border: none;
  font-size: 16px;
  line-height: 24px;
}

.about-right {
  position: relative;
  width: 595px;
  object-fit: contain;
}
.about-right .image1 {
  height: 433px;
  background-image: url("../images/home/course.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-right img {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 40%;
  left: 43%;
}

/*-----service------*/
.service {
  width: 100%;
  text-align: center;
  margin-top: 134px;
}

.service-header {
  max-width: 520px;
  margin: 0 auto 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.service-header h1 {
  font-size: 48px;
  line-height: 62px;
  color: #222;
}
.service-header p {
  font-size: 16px;
  line-height: 155%;
  color: #555;
}

.service-grid {
  max-width: 1152px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 53px;
  padding: 0;
}

.service-card {
  width: 248px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.service-card .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.service-card .card-item img {
  width: 80px;
  height: 80px;
}
.service-card .card-item h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  color: rgb(34, 34, 34);
}
.service-card p {
  font-size: 14px;
  line-height: 155%;
  color: rgb(85, 85, 85);
}

/*---------*/  
.couese {
  width: 100%;
  background: rgb(211, 229, 254);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .couese {
    padding: 50px 20px 140px;
  }
}
@media (max-width: 768px) {
  .couese {
    padding: 62px 20px 120px;
    background: none;
  }
}
@media (max-width: 360px) {
  .couese {
    padding: 64px 20px 80px;
  }
}
.couese .container {
  width: 100%;
  max-width: 1144px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .couese .container {
    padding: 62px 20px 120px;
  }
}
@media (max-width: 360px) {
  .couese .container {
    padding: 64px 20px 80px;
  }
}

.couese-header {
  width: 100%;
  max-width: 674px;
  height: 124px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.couese-header h1 {
  font-size: 48px;
  line-height: 62px;
}
@media (max-width: 768px) {
  .couese-header h1 {
    font-size: 32px;
    line-height: 46px;
  }
}
@media (max-width: 360px) {
  .couese-header h1 {
    font-size: 22px;
    line-height: 36px;
  }
}
.couese-header p {
  font-size: 16px;
  line-height: 155%;
  color: rgb(85, 85, 85);
}
@media (max-width: 768px) {
  .couese-header p {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .couese-header p {
    font-size: 16px;
  }
}

.couese-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}
@media (max-width: 1024px) {
  .couese-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .couese-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
@media (max-width: 360px) {
  .couese-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.couese-card {
  width: 100%;
  max-width: 370px;
  padding: 24px;
  border-radius: 6px;
  background: rgb(255, 255, 255);
}
.couese-card:nth-child(3) {
  background: rgb(227, 250, 255);
}

@media (max-width: 768px) {
  .couese-card:nth-child(3) {
    background: none;
  }
}
.card-in {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.couese-baner {
  width: 100%;
}
.couese-baner img {
  max-width: 320px;
  border-radius: 6px;
  height: 250px;
}
@media (max-width: 768px) {
  .couese-baner img {
    height: 220px;
  }
}
@media (max-width: 360px) {
  .couese-baner img {
    height: 180px;
  }
}

.couese-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.couese-title p {
  font-size: 14px;
  line-height: 155%;
  color: rgb(85, 85, 85);
}
@media (max-width: 768px) {
  .couese-title p {
    font-size: 13px;
  }
}
@media (max-width: 360px) {
  .couese-title p {
    font-size: 12px;
  }
}

.title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.title-price h3 {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  color: rgb(51, 51, 51);
}
@media (max-width: 768px) {
  .title-price h3 {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .title-price h3 {
    font-size: 18px;
  }
}
.title-price span {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  color: rgb(8, 108, 249);
}
@media (max-width: 768px) {
  .title-price span {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .title-price span {
    font-size: 18px;
  }
}

.couese-btn {
  width: 182px;
  height: 56px;
  background: rgb(8, 108, 249);
  border-radius: 6px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  border: none;
  margin: auto;
  display: block;
  cursor: pointer;
}
@media (max-width: 768px) {
  .couese-btn {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .couese-btn {
    font-size: 13px;
  }
}

/*---------*/
.event {
  padding: 128px 0;
  width: 100%;
  background: #fff;
}
@media (max-width: 1024px) {
  .event {
    padding: 100px 20px;
  }
}
@media (max-width: 768px) {
  .event {
    padding: 80px 20px;
  }
}
@media (max-width: 360px) {
  .event {
    padding: 60px 20px;
  }
}

.event-header {
  max-width: 520px;
  margin: 0 auto 48px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.event-header h1 {
  font-size: 48px;
  line-height: 62px;
  color: rgb(34, 34, 34);
}
@media (max-width: 768px) {
  .event-header h1 {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 360px) {
  .event-header h1 {
    font-size: 28px;
    line-height: 36px;
  }
}
.event-header p {
  font-size: 16px;
  line-height: 155%;
  color: rgb(85, 85, 85);
}
@media (max-width: 768px) {
  .event-header p {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .event-header p {
    font-size: 12px;
  }
}

.event-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-items: center;
}
@media (max-width: 1024px) {
  .event-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .event-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 360px) {
  .event-grid {
    grid-template-columns: 1fr;
  }
}

.event-card {
  max-width: 368px;
  border-radius: 6px;
  overflow: hidden;
  background: #f5f5f5;
}
@media (max-width: 360px) {
  .event-card {
    margin: 0;
  }
}

.event-image {
  position: relative;
  border-radius: 6px 6px 0px 0px;
}
.event-image img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .event-image img {
    height: 200px;
  }
}
@media (max-width: 360px) {
  .event-image img {
    height: 160px;
  }
}

.event-badge {
  position: absolute;
  padding: 8px 12px;
  top: 0;
  left: 0;
  width: 65px;
  height: 62px;
  background: #4c8bf5;
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}
@media (max-width: 768px) {
  .event-badge {
    width: 60px;
    height: 55px;
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .event-badge {
    width: 50px;
    height: 50px;
    font-size: 14px;
  }
}

.event-body {
  width: 319px;
  padding: 0;
  margin: 24px 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.event-body h5 {
  font-size: 20px;
  line-height: 26px;
  color: rgb(34, 34, 34);
}
@media (max-width: 768px) {
  .event-body h5 {
    font-size: 18px;
  }
}
@media (max-width: 360px) {
  .event-body h5 {
    font-size: 16px;
  }
}

.event-meta {
  width: 321px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #555;
  gap: 29px;
}
.event-meta span {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 155%;
  color: rgb(85, 85, 85);
}
.event-meta span img {
  width: 16px;
  height: 16px;
  margin: 3px 0 3px 0;
}