* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: DM Sans;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 1152px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    margin: 0 60px;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0 40px;
  }
}
@media (max-width: 360px) {
  .container {
    margin: 0 20px;
  }
}