.footer
    width: 100%
    background: rgba(211, 229, 254, 1)
    padding: 60px 0 80px


.footer-main
    width: 1144px
    display: flex
    justify-content: space-between
    padding: 0
    gap: 92px



.footer-div
    display: flex
    flex-direction: column
    border: 2px solid red
    align-items: flex-start
    gap: 24px

    .h1
        font-size: 30px
        
        

.footer-top
    max-width: 360px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    gap: 32px

    .h1
        font-size: 30px
        line-height: 39px

.title
    display: flex
    flex-direction: column
    gap: 24px
    justify-content: flex-start
    align-items: flex-start

    .h1
        font-size: 30px
        line-height: 39px

    .p
        color: rgba(85, 85, 85, 1)
        font-size: 16px
        line-height: 155%

.footer-bottom
    display: flex
    gap: 16px
    justify-content: flex-start
    align-items: flex-start

.images
    display: flex
    max-width: 48px
    max-height: 48px
    padding: 14px
    border-radius: 4px
    background: rgba(255, 255, 255, 1)




.footer-list
    list-style: none
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    gap: 16px

    .li
        display: flex
        align-items: center
        gap: 8px

        .img
            width: 20px
            height: 20px

        .a
            font-size: 16px
            line-height: 21px
            text-decoration: none







.contact-info
    display: flex
    flex-direction: column
    gap: 16px

.contact-item
    display: flex
    gap: 8px

    .img
        width: 20px
        height: 20px


    .a 
        font-size: 16px 
     


        