.footer 
    width: 100%
    background: rgba(211, 229, 254, 1)
    padding: 60px 0


.footer-main 
    max-width: 1144px
    margin: 0 auto
    display: flex
    justify-content: flex-start
    align-items: flex-start
    gap: 92px
    flex-wrap: wrap


.footer-div 
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    text-align: left
    gap: 24px
    flex: 1 1 200px

    h1 
        font-size: 24px
        line-height: 32px
        margin: 0
        font-weight: 600
    

    p 
        font-size: 16px
        line-height: 24px
        color: rgba(85, 85, 85, 1)
        margin: 0
    


.footer-top 
    display: flex
    flex-direction: column
    gap: 16px


.footer-bottom 
    display: flex
    gap: 12px
    margin-top: 8px

    .images 
        display: flex
        width: 48px
        height: 48px
        padding: 12px
        border-radius: 4px
        background: #fff
        justify-content: center
        align-items: center

        img 
            width: 24px
            height: 24px
            object-fit: contain
        
    


.footer-list 
    list-style: none
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    gap: 12px

    li 
        display: flex
        align-items: center
        gap: 8px

        img 
            width: 16px
            height: 16px
        

        a 
            font-size: 16px
            line-height: 21px
            text-decoration: none
            color: rgba(0, 0, 0, 0.87)
        
    


.contact-info 
    display: flex
    flex-direction: column
    gap: 12px

    .contact-item 
        display: flex
        align-items: center
        gap: 8px

        img 
            width: 20px
            height: 20px
        
        a 
            font-size: 16px
            line-height: 21px
            text-decoration: none
        
    




        