.header 
    position: absolute
    top: 0
    max-width: 1152px
    width: 100%
    z-index: 10

    

    @media (max-width: 360px)
        position: relative  
        top: auto         
        margin-bottom: 20px
        
        
   

.header-inner 
    display: flex
    justify-content: space-between
    align-items: center
    height: 80px
    color: #fff
    padding: 0 40px

    @media (max-width: 1024px)
        padding: 0 30px

    @media (max-width: 768px)
        align-items: center
        justify-content: space-between
        gap: 0
        height: auto
        padding: 0 20px
        background: rgba(255, 255, 255, 1)
    

.logo 
    margin: 0
    color: rgba(255, 255, 255, 1)
    font-size: 24px
    font-weight: 700
    line-height: 31px
    text-align: center

    @media (max-width: 768px)
        color: rgba(34, 34, 34, 1)


.burger
    display: none
    flex-direction: column
    justify-content: space-between
    width: 17.66px
    height: 14px
    cursor: pointer

    span
        display: block
        width: 100%
        height: 4px        
        border-radius: 21px
        background: rgba(241, 85, 37, 1)

    @media (max-width: 768px)
        display: flex



.links 
    display: flex
    gap: 40px
    align-items: center

    @media (max-width: 1024px)
        gap: 30px

    @media (max-width: 768px) 
        gap: 12px
        display: flex
        flex-direction: column
        max-width: 320px
        display: none    
        

    @media (max-width: 360px)
        gap: 8px

    .active
        display: flex


.link-a
    color: rgba(255, 255, 255, 1)
    text-decoration: none
    font-size: 16px
    line-height: 155%
    text-align: center
    display: flex
    align-items: center
    gap: 8px 
    background-image: url("../images/icon/icon.svg")
    display: inline-block
    padding-right: 20px
    background-position: right center
    background-repeat: no-repeat
    transition: color 0.3s ease, background-image 0.3s ease

    &:hover
        color: blue
        background-image: url("../images/icon/icon-blue.svg") 
        


