.baner
    max-width: 1440px
    position: relative
    height: 790px
    margin: 0 auto
    background-image: url("../images/baner.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat

//----------//

.baner-content 
    width: 100%
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding: 13px 7.5px
    top: 32%
    left: 48.5%
    transform: translate(-50%, -50%)
    text-align: center
    color: #fff

.text-box
    width: 973px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    gap: 24px

    h1
        width: 986px
        font-size: 56px
        line-height: 73px
   

    p
        width: 867px
        font-size: 16px
        line-height: 155%


.btn 
    position: absolute
    top: 47%
    left: 44%
    max-width: 175px
    background: rgba(79, 136, 217, 1)
    color:  rgba(255, 255, 255, 1)
    font-size: 16px
    line-height: 24px
    padding: 16px 30px 16px 30px
    border: none
    border-radius: 6px
    cursor: pointer

//------------//

.stats 
  position: absolute
  bottom: -70px
  left: 50%
  transform: translateX(-50%)
  background: #fff
  display: flex
  gap: 80px
  padding: 40px 60px
  border-radius: 12px
  box-shadow: 0 10px 30px rgba(0,0,0,0.15)


.stat-item 
  text-align: center


.stat-item h3 
  font-size: 32px
  color: #000


.stat-item p 
  color: #3b82f6

