.baner
    max-width: 1440px
    width: 100%
    position: relative
    margin: 0 auto
    overflow: hidden

    @media (max-width: 1024px)
        padding: 0 

    @media (max-width: 768px)
        padding: 70px 20px
        background: rgba(236, 244, 255, 1)

.image
    height: 790px
    background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url("../images/home/baner.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    @media (max-width: 1024px)
        height: 500px

    @media (max-width: 768px)
        display: none

.baner-content 
    width: 100%
    max-width: 1000px
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    gap: 82px
    margin: 0 auto
    top: 40%
    left: 48%
    transform: translate(-50%, -50%)
    text-align: center
    color: #fff

    @media (max-width: 768px)
        position: static
        transform: none
        color: #000
        gap: 32px

.text-box
    max-width: 973px
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 24px
    padding: 0 16px

    h1
        font-size: 56px
        line-height: 73px
        text-align: center

        @media (max-width: 1024px)
            font-size: 42px
            line-height: 56px

        @media (max-width: 768px)
            font-size: 32px
            line-height: 44px
   

    p
        font-size: 16px
        line-height: 155%
        text-align: center

        @media (max-width: 768px)
            font-size: 15px


.btn 
    background: rgba(79, 136, 217, 1)
    color:  rgba(255, 255, 255, 1)
    font-size: 16px
    padding: 16px 30px 
    border: none
    border-radius: 6px
    cursor: pointer
    

//------------//

.hero 
    background: rgba(255, 255, 255, 1)
    width: 100%
    padding-bottom: 128px 

    @media (max-width: 1024px)
        padding-bottom: 100px

    @media (max-width: 768px)
        padding-bottom: 80px




.stats 
    width: 100%
    max-width: 1152px
    margin: -43px auto 
    background: rgba(255, 255, 255, 1)
    display: flex
    gap: 122px
    align-items: center
    padding: 56px 95px
    border-radius: 4px
    box-shadow: 0 10px 30px rgba(0,0,0,0.15)
    position: relative
    z-index: 5

    @media (max-width: 1024px)
        padding: 40px
        gap: 24px

    @media (max-width: 768px)
        flex-direction: column
        gap: 24px
        padding: 60px 77.5px
        margin-top: 9px 



.stats-box
    width: 100%
    display: flex
    gap: 24px
    align-items: center



.img
    width: 72px
    height: 72px
    margin: 4px 0

.stat-item 
    display: flex
    flex-direction: column
    gap: 8px
    text-align: center


    h3 
        font-size: 36px
        line-height: 47px
        color: rgba(34, 34, 34, 1)


    p 
        color: rgba(8, 108, 249, 1)
        font-size: 16px
        Online Courses


        @media (max-width: 768px)
            font-size: 12px


/*-----sectin2-----*/

.banner2
    width: 100% 
    max-width: 1152px
    margin-top: 134px  
    border: 1px solid blue
    box-sizing: border-box

.about
    display: flex
    gap: 38px
    align-items: stretch
    flex-wrap: nowrap

    @media (max-width: 1024px)
        gap: 24px

    @media (max-width: 768px)
        flex-direction: column
        align-items: center  
        gap: 40px


.about-left
    margin: 0
    max-width: 519px
    flex: 1
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    gap: 23px

    @media (max-width: 768px)
        max-width: 100%
        order: 2 


.left-top
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    gap: 16px

    h1
        font-size: 48px
        line-height: 62px

        @media (max-width: 768px)
            font-size: 32px
            line-height: 44px

        @media (max-width: 360px)
            font-size: 22px
            line-height: 29px

    p
        font-size: 16px
        line-height: 155%

        @media (max-width: 768px)
            font-size: 18px

        @media (max-width: 360px)
            font-size: 16px

    
    span
        font-size: 20px
        line-height: 32px

        @media (max-width: 768px)
            font-size: 18px

        @media (max-width: 360px)
            font-size: 16px


.btn2
    width: 149px
    height: 56px
    margin: 0
    border-radius: 4px
    background: rgba(8, 108, 249, 1)
    color: rgba(255, 255, 255, 1)
    padding: 16px 32px
    border: none
    font-size: 16px
    line-height: 24px
    

.about-right
    flex: 1
    width: 100%
    max-width: 595px  
    position: relative
    object-fit: contain
    display: flex         
    justify-content: center
    align-items: stretch

    @media (max-width: 768px)
        max-width: 100%
        width: 100%  
        order: 1

    .image1
        width: 100%
        max-width: 595px
        height: 100% 
        object-fit: cover
        background-image: url("../images/home/course.png")
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        border-radius: 8px

        @media (max-width: 768px)
            height: 320px
            max-width: 100%

        @media (max-width: 360px)
            height: 240px


    img
        position: absolute
        width: 80px
        height: 80px
        top: 50%                // top 40% -> 50% борборго тууралоо
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 2


/*-----service------*/

.service 
    width: 100%
    text-align: center
    margin-top: 134px

    @media (max-width: 768px)
        margin-top: 80px

    
.service-header 
    max-width: 520px
    margin: 0 auto 60px
    display: flex
    flex-direction: column
    gap: 12px

    h1 
        font-size: 48px
        line-height: 62px
        color: #222

        @media (max-width: 768px)
            font-size: 32px

        @media (max-width: 360px)
            font-size: 22px
        

    p 
        font-size: 16px
        line-height: 155%
        color: #555

        @media (max-width: 360px)
            font-size: 14px
        
    


.service-grid 
    max-width: 1152px
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 53px
    padding: 0

    @media (max-width: 1024px)
        grid-template-columns: repeat(2, 1fr)
        gap: 42px

    @media (max-width: 768px)
        grid-template-columns: 1fr
        gap: 30px
    

    
.service-card 
    width: 248px
    display: flex
    flex-direction: column
    align-items: center
    gap: 16px

    .card-item
        display: flex
        flex-direction: column
        align-items: center
        gap: 24px

        img 
            width: 80px
            height: 80px
            

        h3 
            font-size: 24px
            font-weight: 600
            line-height: 31px
            color: rgba(34, 34, 34, 1)

            @media (max-width: 360px)
            font-size: 16px
            

    p 
        font-size: 14px
        line-height: 155%
        color: rgba(85, 85, 85, 1)

        @media (max-width: 360px)
            font-size: 12px
        
    

/*---------*/  
    


.couese
    width: 100%
    background: rgba(211, 229, 254, 1)
    
    @media (max-width: 768px)
        background: none
        


    .container
        width: 100%
        max-width: 1144px
        margin: 0 auto
        display: flex
        flex-direction: column
        gap: 48px
        
        @media (max-width: 768px)
            padding: 62px 20px 120px

        @media (max-width: 360px)
            padding: 64px 20px 80px 

.couese-header
    width: 100%
    max-width: 674px
    height: 124px 
    text-align: center  
    display: flex
    flex-direction: column
    gap: 12px


    h1
        font-size: 48px
        line-height: 62px 

        @media (max-width: 768px)
            font-size: 32px
            line-height: 46px
        @media (max-width: 360px)
            font-size: 22px
            line-height: 36px 

    p
        font-size: 16px
        line-height: 155%
        color: rgba(85, 85, 85, 1)

        @media (max-width: 768px)
            font-size: 16px
        @media (max-width: 360px)
            font-size: 16px

        

.couese-grid
    display: grid
    grid-template-columns: repeat(3, 1fr)  
    gap: 24px  

    @media (max-width: 1024px)
        grid-template-columns: repeat(2, 1fr)
        gap: 30px
    @media (max-width: 768px)
        grid-template-columns: 1fr
        gap: 30px
        justify-items: center
    @media (max-width: 360px)
        grid-template-columns: 1fr
        gap: 30px


.couese-card
    width: 100%
    max-width: 370px
    padding: 24px
    border-radius: 6px
    background: rgba(255, 255, 255, 1)

    @media (max-width: 768px)
        padding: 15px
    
    &:nth-child(3)
        background: rgba(227, 250, 255, 1)

@media (max-width: 768px)
    .couese-card:nth-child(3)
        background: none

.card-in 
    width: 100%
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    gap: 20px


.couese-baner
    width: 100%
    
    img
        max-width: 320px
        border-radius: 6px
        height: 250px

        @media (max-width: 768px)
            height: 220px
            width: 100%
        @media (max-width: 360px)
            height: 180px 
            width: 100%



.couese-title
    width: 100%
    display: flex
    flex-direction: column
    gap: 18px
    

    p  
        font-size: 14px
        line-height: 155%
        color: rgba(85, 85, 85, 1)

        @media (max-width: 768px)
            font-size: 13px
        @media (max-width: 360px)
            font-size: 12px
        

.title-price
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%

    h3
        margin: 0 
        font-size: 24px
        line-height: 31px
        color: rgba(51, 51, 51, 1)

        @media (max-width: 768px)
            font-size: 20px
        @media (max-width: 360px)
            font-size: 18px


    span
        margin: 0 
        font-size: 24px
        line-height: 31px
        color: rgba(8, 108, 249, 1)

        @media (max-width: 768px)
            font-size: 20px
        @media (max-width: 360px)
            font-size: 18px



.couese-btn
    width: 182px
    height: 56px
    background: rgba(8, 108, 249, 1)
    border-radius: 6px
    text-align: center
    color: rgba(255, 255, 255, 1)
    font-size: 16px
    line-height: 24px
    border: none
    margin: auto 
    display: block
    cursor: pointer

    @media (max-width: 768px)
        font-size: 14px
    @media (max-width: 360px)
        font-size: 13px




/*---------*/


.event
    padding: 128px 0
    width: 100%
    background: #fff

    @media (max-width: 1024px)
        padding: 100px 20px
    @media (max-width: 768px)
        padding: 80px 20px
    @media (max-width: 360px)
        padding: 60px 20px


.event-header
    max-width: 520px
    margin: 0 auto 48px
    text-align: center
    display: flex
    flex-direction: column
    gap: 12px

    h1
        font-size: 48px
        line-height: 62px
        color: rgba(34, 34, 34, 1)

        @media (max-width: 768px)
            font-size: 36px
            line-height: 46px
        @media (max-width: 360px)
            font-size: 28px
            line-height: 36px


    p
        font-size: 16px
        line-height: 155% 
        color: rgba(85, 85, 85, 1)

        @media (max-width: 768px)
            font-size: 14px
        @media (max-width: 360px)
            font-size: 12px



.event-grid
    width: 100%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 24px
    justify-items: center

    @media (max-width: 1024px)
        grid-template-columns: repeat(2, 1fr)
    @media (max-width: 768px)
        grid-template-columns: 1fr
    @media (max-width: 360px)
        grid-template-columns: 1fr
   

.event-card
    max-width: 368px
    border-radius: 6px
    overflow: hidden
    background: #f5f5f5

    @media (max-width: 360px)
        margin: 0

    &:nth-child(1)
        background: rgba(136, 177, 235, 1)

    &:nth-child(2)
        background: rgba(161, 212, 156, 1)

    &:nth-child(3)
        background: rgba(236, 127, 127, 1)

    @media (max-width: 768px)
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3)
            background: none


.event-image
    position: relative
    border-radius: 6px 6px 0px 0px

    img
        width: 100%
        object-fit: cover

        @media (max-width: 768px)
            height: 200px
        @media (max-width: 360px)
            height: 160px

.event-badge
    position: absolute
    padding: 8px 12px
    top: 0
    left: 0
    width: 65px
    height: 62px
    background: #4c8bf5
    color: #fff
    font-size: 18px
    line-height: 23px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    font-weight: 500

    @media (max-width: 768px)
        width: 60px
        height: 55px
        font-size: 16px
    @media (max-width: 360px)
        width: 50px
        height: 50px
        font-size: 14px


.event-card.blue .event-badge
    background: rgba(136, 177, 235, 1)

.event-card.green .event-badge
    background: rgba(161, 212, 156, 1)

.event-card.red .event-badge
    background: rgba(236, 127, 127, 1)

    @media (max-width: 768px)
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3)
            background: rgba(8, 108, 249, 1)
    



.event-body
    max-width: 319px
    width: 100%
    padding: 0
    margin: 24px 24px 32px
    display: flex
    flex-direction: column
    gap: 20px

    @media (max-width: 768px)
        max-width: 100%
        margin-left: 16px
        margin-right: 16px

        &::before
            content: "TED Talks at UCF College of Education"
            font-size: 18px
            line-height: 26px
            color: rgba(34, 34, 34, 1)
            font-weight: 600

    @media (max-width: 360px)
        &::before
            font-size: 16px
            line-height: 22px
             


    h5
        font-size: 20px
        line-height: 26px 
        color: rgba(34, 34, 34, 1)

        @media (max-width: 768px)
            font-size: 18px
            display: none
        @media (max-width: 360px)
            font-size: 16px
            display: none


.event-meta
    max-width: 321px
    width: 100%
    display: flex
    justify-content: space-between
    font-size: 13px
    color: #555
    gap: 16px
    flex-wrap: wrap 

    @media (max-width: 768px)
        max-width: 100%
        gap: 12px

    span
        display: flex
        gap: 8px
        font-size: 14px
        line-height: 155%
        color: rgba(85, 85, 85, 1)

        @media (max-width: 768px)
            font-size: 12px
            

        img
            width: 16px
            height: 16px
            margin: 3px 0 3px 0